

@using EntityLayer.Concrete
@model List<Contact>

<div class="noti__item js-item-menu">
    <i class="zmdi zmdi-email"></i>
    <span class="quantity">@TempData["Count"]</span>
    <div class="email-dropdown js-dropdown">
        <div class="email__title">
            <p>Okunmayan İletiler</p>
        </div>
        @foreach (var item in Model)
        {
            <div class="email__item">
                <div class="image img-cir img-40">
                    <img src="~/Admin/images/icon/user.png" />
                </div>
                <div class="content">
                    <p>@item.ContactMail</p>
                    <span>@item.ContactName</span>
                </div>
            </div>
        }


        <div class="email__footer">
            <a href="/Admin/Contact/Contact">Mesajların Tümünü Gör</a>
        </div>
    </div>
</div>