


<nav class="navbar-sidebar">
    <ul class="list-unstyled navbar__list">

        <li>
            <a asp-area="Admin" asp-controller="Admin" asp-action="Index">
                <i class="fas fa-database"></i>DashBoard
            </a>
        </li>

        <li>
            <a asp-area="Admin" asp-controller="Certificate" asp-action="Certificate">
                <i class="fas fa-calendar-alt"></i>Sertifika
            </a>
        </li>

        <li>
            <a asp-area="Admin" asp-controller="Project" asp-action="Project">
                <i class="fas fa-pencil-alt"></i>Proje
            </a>
        </li>

        <li>
            <a asp-area="Admin" asp-controller="Contact" asp-action="Contact">
                <i class="far fa-envelope-open" a></i>Mesajlar
            </a>
        </li>

        <li>
            <a asp-area="Admin" asp-controller="Language" asp-action="Language">
                <i class="fas fa-laptop"></i>Teknolojiler
            </a>
        </li>

        <li>
            <a asp-area="Admin" asp-controller="About" asp-action="About">
                <i class="fas fa-user"></i>Hakkında
            </a>
        </li>

        <li>
            <a href="/Home/Index">
                <i class="fas fa-reply"></i>Siteye Dön
            </a>
        </li>

    </ul>
</nav>