


<nav class="navbar-sidebar">
    <ul class="list-unstyled navbar__list">

        <li class="active">
            <a asp-area="Admin" asp-controller="Admin" asp-action="Index">
                <i class="fas fa-database"></i>DashBoard
            </a>
        </li>

        <li>
            <a asp-area="Admin" asp-controller="Admin" asp-action="Certificate">
                <i class="fas fa-calendar-alt"></i>Sertifika
            </a>
        </li>

        <li>
            <a href="form.html">
                <i class="far fa-envelope-open" a></i>Mesajlar
            </a>
        </li>

        <li>
            <a href="map.html">
                <i class="fas fa-laptop"></i>Teknoloji
            </a>
        </li>

        <li>
            <a href="map.html">
                <i class="fas fa-user"></i>Hakkında
            </a>
        </li>


    </ul>
</nav>