
@{
    ViewData["Title"] = "ProjectAdd";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12" style="margin-block:225px">
    <div class="card">
        <div class="card-header">Proje</div>
        <div class="card-body">
            <div class="card-title">
                <h3 class="text-center title-2">Eklenen Proje</h3>
            </div>
            <hr>
            <form action="/Admin/Project/ProjectAdd" method="post">
                <div class="form-group">
                    <label for="cc-payment" class="control-label mb-1">Proje Adı</label>
                    <input name="ProjectName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="cc-payment" class="control-label mb-1">Proje Başlık</label>
                    <input name="ProjectTitle" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="cc-payment" class="control-label mb-1">Proje Açıklama</label>
                    <input name="ProjectDesciription" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="cc-payment" class="control-label mb-1">Proje Img Url</label>
                    <input name="ProjectImgUrl" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="cc-payment" class="control-label mb-1">Proje Githup Url</label>
                    <input name="ProjectUrl" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="cc-payment" class="control-label mb-1">Proje Oluşturulma Tarihi </label>
                    <input name="Date" type="date" class="form-control">
                </div>
                <div>
                    <button id="payment-button" type="submit" class="btn btn-lg btn-success btn-block" style="margin-block :20px">
                        <i class="fa fa-save fa-lg"></i>&nbsp;
                        <span id="payment-button-amount">Ekle</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

