@using EntityLayer.Concrete
@model List<Certificate>

<div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
    <div class="au-card-inner">
        <div class="table-responsive">
            <table class="table table-top-countries">

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CertificateName</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>