
<div class="clearfix"></div>

<div class="col-lg-3 col-md-6 col-12 pe-lg-0">
    <div class="contact-info contact-info-border-start d-flex flex-column">
        <strong class="site-footer-title d-block mb-3">Size Ne Hizmeti Sağlayabilirim</strong>

        <ul class="footer-menu">
            <li class="footer-menu-item"><a href="#" class="footer-menu-link">.Net Core</a></li>

            <li class="footer-menu-item"><a href="#" class="footer-menu-link">MVC</a></li>

            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Web Api</a></li>

            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Veri Tabanı Yönetimi</a></li>
        </ul>

        <strong class="site-footer-title d-block mt-4 mb-3">Sosyal Ağlarım</strong>

        <ul class="social-icon">
            <li class="social-icon-item"><a href="https://twitter.com/sevgulketencii" class="social-icon-link bi-twitter"></a></li>

            <li class="social-icon-item"><a href="https://instagram.com/sevgulktnc" class="social-icon-link bi-instagram"></a></li>

            <li class="social-icon-item"><a href="https://github.com/Sevgulketencii" class="social-icon-link bi-github"></a></li>

        </ul>

        <strong class="site-footer-title d-block mt-4 mb-3">Çalışma Durumu</strong>

        <p class="mb-0">Şuan çalıştığım bir firma mevcut değil.</p>
    </div>
</div>

<div class="col-lg-3 col-md-6 col-12 ps-lg-0">
    <div class="contact-info d-flex flex-column">
        <strong class="site-footer-title d-block mb-3">DURUM</strong>

        <p class="mb-2">
            Güncel olarak iş arayışım mevcuttur. Kendimi geliştirebiliceğim bir firmada yer almaktan mutluluk duyarım
        </p>

        <strong class="site-footer-title d-block mt-4 mb-3">E-mail</strong>

        <p>
            <a href="mailto:ketenci2554@gmail.com">
                ketenci2554@gmail.com
            </a>
        </p>

        <strong class="site-footer-title d-block mt-4 mb-3">Telefon</strong>

        <p class="mb-0">
            <a href="tel: 536-604-5465">
                +90 536-604-5465
            </a>
        </p>
    </div>
</div>