<section class="featured section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <div class="profile-thumb">
                    <div class="profile-title">
                        <h4 class="mb-0">Kimlik</h4>
                    </div>

                    <div class="profile-body">
                        <p>
                            <span class="profile-small-title">Ad</span>
                            <span>Sevgül KETENCİ</span>
                        </p>

                        <p>
                            <span class="profile-small-title">Doğum</span>
                            <span>9 Haziran 1998</span>
                        </p>

                        <p>
                            <span class="profile-small-title">Telefon</span>
                            <span><a href="tel: 305-240-9671">+90 536 604 5465</a></span>
                        </p>

                        <p>
                            <span class="profile-small-title">E-mail</span>
                            <span><a href="mailto:ketenci2554@gmail.com">ketenci2554@gmail.com</a></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                <div class="about-thumb">
                    <div class="row">
                        <div class="col-lg-6 col-6 featured-border-bottom py-2">
                            <strong class="featured-numbers">0</strong>

                            <p class="featured-text">Yeni mezun olduğum için ne yazık ki burası 0</p>
                        </div>

                        <div class="col-lg-6 col-6 featured-border-start featured-border-bottom ps-5 py-2">
                            <strong class="featured-numbers">4</strong>

                            <p class="featured-text">Sertifika Sayısı</p>
                        </div>

                        <div class="col-lg-6 col-6 pt-4">
                            <strong class="featured-numbers">5</strong>

                            <p class="featured-text">Proje Sayısı</p>
                        </div>

                        <div class="col-lg-6 col-6 featured-border-start ps-5 pt-4">
                            <strong class="featured-numbers">8</strong>

                            <p class="featured-text">Aktif Kullanılan Teknoloji Sayısı</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>