
@{
    Layout = null;
}
@using EntityLayer.Concrete
@model List<About>

<section class="about section-padding" id="section_2">
    <div class="container">
        <div class="row">


            @foreach (var item in Model)
            {
                <div class="">
                    <div class="about-thumb">

                        <div class="section-title-wrap d-flex justify-content-end align-items-center mb-4">
                            <h2 class="text-white me-xxl-4 mb-lg-n5">Hakkımda</h2>

                            <img src="@item.ImgUrl" class="avatar-image img-fluid" alt="">
                        </div>

                        <h3 class="pt-2 mb-3">@item.AboutTitle</h3>
                        <p>@item.AboutDesciription </p>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
