
@{
    Layout = null;
}

<section class="about section-padding" id="section_2">
    <div class="container">
        <div class="row">



            <div class="">
                <div class="about-thumb">

                    <div class="section-title-wrap d-flex justify-content-end align-items-center mb-4">
                        <h2 class="text-white me-xxl-4 mb-lg-n5">Hakkımda</h2>

                        <img src="~/portföy/images/Profil1.jpg" class="avatar-image img-fluid" alt="">
                    </div>

                    <h3 class="pt-2 mb-3">Kendimden şöyle bir söz edersek</h3>
                    <p>Zonguldak Bülent Ecevit Üniversitesi Bilgisayar Mühendisliğini Temmuz 2022 yılında bitirdim. Web arka uç geliştirme üzerine çalışmakta ve .Net Core ile projeler yazmaktayım. MSSQL , WebAPI geliştirme ve kullanma, Repository desing patern bilgim mevcuttur. </p>
                </div>
            </div>

        </div>
    </div>
</section>
