
<div class="about-thumb">
    <div class="row">
        <div class="col-lg-6 col-6 featured-border-bottom py-2">
            <strong class="featured-numbers">@ViewBag.deneyim</strong>

            <p class="featured-text">Yeni mezun olduğum için Deneyim yılım ne yazık ki </p>
        </div>

        <div class="col-lg-6 col-6 featured-border-start featured-border-bottom ps-5 py-2">
            <strong class="featured-numbers">@ViewBag.certificateCount</strong>

            <p class="featured-text">Sertifika Sayısı</p>
        </div>

        <div class="col-lg-6 col-6 pt-4">
            <strong class="featured-numbers">@ViewBag.projectCount</strong>

            <p class="featured-text">Proje Sayısı</p>
        </div>

        <div class="col-lg-6 col-6 featured-border-start ps-5 pt-4">
            <strong class="featured-numbers">@ViewBag.languageCount</strong>

            <p class="featured-text">Aktif Kullanılan Teknoloji Sayısı</p>
        </div>
    </div>
</div>